<div id="cart" style="width: 300px">
  <h2>Koszyk</h2>
  @if (app.cartItems.length === 0) {
    <p>Koszyk jest pusty</p>
  } @else {
    @for (item of app.cartItems; track $index) {
      <p>
        {{ item.name }} {{ item.price }} zł
        <button (click)="app.handleRemoveFromCart($index)" id="removeBtn">Usuń</button>
      </p>
    }
    <p>Razem: {{ getTotal() }} zł</p>
    <button id="addBtn" routerLink="/checkout" style="margin-top: 10px">
      Przejdź do płatności
    </button>
  }
</div>
