#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 116, 116);
  width: 25%;
  border-radius: 8px;
  box-shadow: 5px 5px 0 0 rgb(50, 50, 50);
  margin: 10px;
  padding: 9px;
  padding-top: 0px;
}
#addBtn {
  border-radius: 13px;
  border: 3px solid black;
  background-color: rgb(193, 193, 193);
  font-weight: bold;
  color: rgb(50, 50, 50);
}
#addBtn:hover {
  cursor: pointer;
  background-color: rgb(224, 222, 222);
}
#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 38, 38);
  color: rgb(239, 239, 239);
  width: 30%;
  border-radius: 8px;
  box-shadow: 5px 5px 0 0 rgb(50, 50, 50);
  margin: 10px;
  padding: 9px;
  padding-top: 0px;
}
#removeBtn {
  border-radius: 13px;
  border: 3px solid black;
  background-color: rgb(193, 193, 193);
  font-weight: bold;
  color: rgb(50, 50, 50);
}
#removeBtn:hover {
  cursor: pointer;
  background-color: rgb(224, 222, 222);
}
#routerBtn {
  background-color: rgb(21, 21, 21);
  color: rgb(228, 228, 228);
  border-radius: 13px;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 105%;
}
input {
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
}
.productImg:hover {
  width: 80%;
}
